[submodule "pacman-object-database"]
	path = pacman-object-database
	url = https://github.com/pacman-project/pacman-object-database.git
[submodule "stewart-probe/intrinsic-tactile-toolbox"]
	path = stewart-probe/intrinsic-tactile-toolbox
	url = https://github.com/CentroEPiaggio/intrinsic-tactile-toolbox.git
[submodule "stewart-probe/stewart-ppcc-wrist"]
	path = stewart-probe/stewart-ppcc-wrist
	url = https://github.com/carlosjoserg/stewart-ppcc-wrist.git
[submodule "stewart-probe/force-torque-sensor"]
	path = stewart-probe/force-torque-sensor
	url = https://github.com/CentroEPiaggio/force-torque-sensor.git
[submodule "gaussian-object-modelling"]
	path = gaussian-object-modelling
	url = https://github.com/carlosjoserg/gaussian-object-modelling.git
[submodule "pcl"]
	path = pcl
	url = https://github.com/PointCloudLibrary/pcl
[submodule "decision_making"]
	path = decision_making
	url = https://github.com/cogniteam/decision_making.git
[submodule "imu-robotic-glove-publisher"]
	path = imu-robotic-glove-publisher
	url = https://github.com/CentroEPiaggio/imu-robotic-glove-publisher.git
[submodule "report/CMakeLatex"]
	path = report/CMakeLatex
	url = https://github.com/carlosjoserg/CMakeLatex.git
[submodule "pacman_vision"]
	path = pacman_vision
	url = https://github.com/Tabjones/pacman_vision.git
[submodule "pacman_vision_communications"]
	path = pacman_vision_communications
	url = https://github.com/Tabjones/pacman_vision_communications.git
[submodule "kuka-lwr"]
	path = kuka-lwr
	url = https://github.com/carlosjoserg/kuka-lwr.git
