<launch>
	<include file="$(find boris_robot)/launch/bringup.launch">
		<!-- LAUNCH INTERFACE -->
		<arg name="gui" default="false" />
		<arg name="robot_name" default="boris_exploration"/>
		<arg name="use_rviz" default="true"/>
		<arg name="use_joint_state_publisher" default="true"/>
		<arg name="load_moveit" default="true"/>

		<!-- configure whether the real hardware is enabled or not -->
		<arg name="left_arm_enabled" default="true"/>
		<arg name="stewart_probe_enabled" default="true"/>
	</include>
</launch>
