<launch>

    <!-- LAUNCH INTERFACE -->

    <arg name="events" default="false" />
    <arg name="gui" default="true" />
    <!-- LAUNCH IMPLEMENTATION -->

    <!-- Demo logic node -->
	<node
        name="DemoDR54"
        pkg="demo_logic"
        type="DR54Logic"
        output="screen" />

    <!-- Events Manager -->
    <node
        if="$(arg events)"
        name="$(arg demo_logic)_events"
        pkg="demo_logic"
        type="DR54events"
        output="screen" />

    <!-- Decision making rqt visualization plugin -->
    <node
        if="$(arg gui)"
        name="gui"
        pkg="rqt_gui"
        type="rqt_gui"
        args="--perspective-file $(find demo_logic)/launch/rqt_config.perspective"
        output="screen" />

    <!-- Demo rviz config-->
    <!--
    <node
        name="my_rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find demo_logic)/launch/dr54.rviz"
        output="screen"
        respawn="true"/>
    -->
    <!-- Experimental sound plays -->
    <include file="$(find sound_play)/soundplay_node.launch"/>

    <!-- Contact manager -->
    <!-- node
        name="contact_manager"
        pkg="demo_logic"
        type="contact_observer"
        output="screen"
        respawn="true"/ -->

    <!-- Perception -->
    <!-- include file="$(find demo_logic)/launch/vision.launch.xml"/-->

    <!-- Robot -->
    <!-- include file="$(find demo_logic)/launch/vito.launch.xml"/-->


</launch>
